.App {
  text-align: center;
}

body {
  background-color: #222933;
}

.title {
  font-size: 1.313em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px rgb(132, 132, 132);
  -webkit-text-fill-color: transparent;
  background-color: linear-gradient(-360deg, #336699, #99cccc);
  background: -webkit-linear-gradient(-360deg, #336666, #009966);
  background: linear-gradient(-360deg, #336666, #009966);
  -webkit-background-clip: text;
  font-size: 50px;
}
