.list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

div {
  background-color: #222933;
  font-family: "Pretendard", sans-serif;
}

.tx {
  font-size: 1.313em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  -webkit-text-fill-color: transparent;
  background-color: linear-gradient(-360deg, #336699, #99cccc);
}

.col1 {
  background: -webkit-linear-gradient(-360deg, #336699, #99cccc);
  background: linear-gradient(-360deg, #336699, #99cccc);
  -webkit-background-clip: text;
}

.col2 {
  background: -webkit-linear-gradient(-360deg, #ffd700, #996633);
  background: linear-gradient(-360deg, #ffd700, #996633);
  -webkit-background-clip: text;
}

.col3 {
  background: -webkit-linear-gradient(-360deg, #d9d8d8, #666);
  background: linear-gradient(-360deg, #d9d8d8, #666);
  -webkit-background-clip: text;
}

.col4 {
  background: -webkit-linear-gradient(-360deg, #663333, #cc9966);
  background: linear-gradient(-360deg, #663333, #cc9966);
  -webkit-background-clip: text;
}
.col5 {
  background: -webkit-linear-gradient(-360deg, #336666, #009966);
  background: linear-gradient(-360deg, #336666, #009966);
  -webkit-background-clip: text;
}

.unlock {
  font-size: 1.313em;
  font-weight: 900;
  color: rgba(255, 255, 255);
}
